.navtxt{
 color:    #444054;
}
.logoutbtn{
    border: inset 3px #444054;
    border-radius: 5px;
}
.loginbtns{
    background-color: #444054;

}
.navtitle{
    color:    #444054;
}
.formlabal{
    color:    #444054;
}