.userhome{
    background-image: url('../../../images/homebanner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.searchform{
    background-color: rgba(245, 222, 179, 0.7);
}
.hometext{
    font-size: 45px;
    text-transform: uppercase;
    text-shadow: 0 0 2px #000000;
    font-family: Swiss-721,Helvetica,Arial,sans-serif;
    color: white;
}
.exbtn{
    font-size: 22px;
    background-color: #444054;
}
.searchbtn{
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #444054;
}
.searchbtn:hover{

    font-size: 18px;
    text-transform: uppercase;
    background-color: #444054;
}
.hidrow{
    display: none;
}
.searchtxt{
    background-color: #444054;
}
@media only screen and (max-width:688px) {
    .exbtn{
        font-size: 11px;
        text-transform: uppercase;
        background-color: #444054;
    }
}
.fa-sliders-h {
    color: #444054;
}
.snapcard{
    color: #444054;
    background-color: #ffffff;
}
.snaptitle{
    color: #444054;
}
.everything{
    background: url('../../../images/everythingbanner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    margin-top: 120px;
}
.snapshot_container{
    padding-top: 50px;
}
.disagreebtn{
    border: 3px solid #444054;
}
.disagreebtn:hover{
    background-color: goldenrod;
    color: darkblue;
}
.area{
    border: 3px solid #444054;
}